<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.sanjust.app"
        versionCode="10"
        version="0.1.2">
    <name>SantJust</name>
    <icon src="icon.png" />
	<splash src="splash.png" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <splash src="res/android/screen/ldpi.png" platform="android" qualifier="ldpi" />
        <splash src="res/android/screen/mdpi.png" platform="android" qualifier="mdpi" />
        <splash src="res/android/screen/hdpi.png" platform="android" qualifier="hdpi" />
        <splash src="res/android/screen/xhdpi.png" platform="android" qualifier="xhdpi" />
        
    </platform>
    <platform name="android">
       <allow-intent href="market:*" />
        <icon src="res/android/icon/ldpi.png" density="ldpi" />
        <icon src="res/android/icon/mdpi.png" density="mdpi" />
        <icon src="res/android/icon/hdpi.png" density="hdpi" />
        <icon src="res/android/icon/xhdpi.png" density="xhdpi" />
        <icon src="res/android/icon/xxhdpi.png" density="xxhdpi" />
        <icon src="res/android/icon/xxxhdpi.png" density="xxxhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <platform name="ios">
            <splash src="res/ios/screen/Default~iphone.png" width="320" height="480" />
            <splash src="res/ios/screen/Default@2x~iphone.png" width="640" height="960" />
            <splash src="res/ios/screen/Default-Portrait~ipad.png" width="768" height="1024" />
            <splash src="res/ios/screen/Default-Portrait@2x~ipad.png" width="1536" height="2048" />
            <splash src="res/ios/screen/Default-568h@2x~iphone.png" width="640" height="1136" />
            <splash src="res/ios/screen/Default-667h.png" width="750" height="1334" />
            <splash src="res/ios/screen/Default-736h.png" width="1242" height="2208" />
            <splash src="res/ios/screen/1024-748.png" width="1024" height="748" />
        </platform>
        <platform name="ios">
            <!-- iOS 8.0+ -->
            <!-- iPhone 6 Plus  -->
            <icon src="res/ios/icon/icon-60@3x.png" width="180" height="180" />

            <!-- iOS 7.0+ -->
            <!-- iPhone / iPod Touch  -->
            <icon src="res/ios/icon/icon-60.png" width="60" height="60" />
            <icon src="res/ios/icon/icon-60@2x.png" width="120" height="120" />
            <!-- iPad -->
            <icon src="res/ios/icon/icon-76.png" width="76" height="76" />
            <icon src="res/ios/icon/icon-76@2x.png" width="152" height="152" />

            <!-- iOS 6.1 -->
            <!-- Spotlight Icon -->
            <icon src="res/ios/icon/icon-40.png" width="40" height="40" />
            <icon src="res/ios/icon/icon-40@2x.png" width="80" height="80" />
            <!-- iPhone / iPod Touch -->
            <icon src="res/ios/icon/icon.png" width="57" height="57" />
            <icon src="res/ios/icon/icon@2x.png" width="114" height="114" />
            <!-- iPad -->
            <icon src="res/ios/icon/icon-72.png" width="72" height="72" />
            <icon src="res/ios/icon/icon-72@2x.png" width="144" height="144" />

            <!-- iPhone Spotlight and Settings Icon -->
            <icon src="res/ios/icon/icon-small.png" width="29" height="29" />
            <icon src="res/ios/icon/icon-small@2x.png" width="58" height="58" />
            <!-- iPad Spotlight and Settings Icon -->
            <icon src="res/ios/icon/icon-50.png" width="50" height="50" />
            <icon src="res/ios/icon/icon-50@2x.png" width="100" height="100" />
        </platform>
    </platform>
    <engine name="ios" spec="~4.4.0" />
    <plugin name="cordova-plugin-camera" spec="^2.4.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="We are using the Camera to upload the real state property pictures " />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="We are using the PHOTOLIBRARY to upload the existing real state property pictures from gallery" />
    </plugin>
	
    <plugin name="cordova-plugin-media-capture" spec="^1.4.3">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" " />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value=" " />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-contacts" spec="^2.3.1">
        <variable name="CONTACTS_USAGE_DESCRIPTION" value=" " />
    </plugin>
	<plugin name="cordova-plugin-whitelist" spec="1" />
	 <plugin name="cordova-plugin-file" spec="^4.3.3" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
	
</widget>
